body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  background: #0000;
}

[data-component="slideshow"] .slide {
	display: none;
  text-align: center;
}

[data-component="slideshow"] .slide.active {
	display: block;
}
